#evencal{
	width:900px;
	margin: 0 auto;
}

#evencal div.calendar{
	float:left;
	width:400px;
}

#evencal div.event_detail{
	float:left;
	width:500px;
}

select{
	min-width: 50px;
}

table.date {
	border: 1px solid #999;
	border-collapse: collapse;
	font-family: Georgia, Times, serif;
}
.date th {
	border: 1px solid #000;
	text-transform: uppercase;
	background-color: #9E3DFF;
	font-size: 80%;
	color:#F2FFFF;
	height: 2.5em;
}
.date td {
	border: 1px solid #999;
	height: 3em;
	width: 3em;
	vertical-align: top;
}
caption {
	font-size: 200%;
	font-style: italic;
	margin-bottom:5px;
}

a{
	text-decoration:none;
}

a.prev_date, a.next_date{
	font-size:50%;
}

div.active_date_event, div.date_event,
div.active_no_event, div.no_event{
	width:inherit;
	height:inherit;
	cursor:pointer;
}

div.active_date_event:hover, div.date_event:hover,
div.active_no_event:hover, div.no_event:hover{
	background-color: #D8ADFF;
}

div.active_date_event{
	background-color: #FF7575;
}

div.active_no_event{
	background-color: #80FFBF;
}

span.date{
	font-family: 'Times New Roman';
	font-size: 13px;
	font-weight:bold;
	margin-left:3px;
	height: 1em;
	display:block;
}
span.event{
	font-family: Arial;
	font-size: 22px;
	font-weight:bold;
	text-align:center;
	padding-top:5px;
	display:block;
	color:blue;
}

.weekend_sat {
	background-color: #F3F3F3;
}
.weekend_sun {
	background-color: #FFE5E5;
}

.require{
	color: red;
}

.error_require{
	background-color: #ffd2d4;
}

.spacer{
	clear:both;
	color:red;
	text-align:center;
	font-size:12px;
	padding: 3px;
}

.add_event {
	font-family: Arial, Helvetica, sans-serif;
	cursor:pointer;
	font-size: 14px;
	color: #ffffff;
	padding: 3px 8px 3px 25px;
	background: #01b9ec url('images/add.png') no-repeat 5px center;
	-moz-border-radius: 8px;
	-webkit-border-radius: 8px;
	border-radius: 8px;
	border: 1px solid #01b9ec;
	-moz-box-shadow:
		0px 1px 3px rgba(000,000,000,0.5),
		inset 0px 0px 2px rgba(255,255,255,1);
	-webkit-box-shadow:
		0px 1px 3px rgba(000,000,000,0.5),
		inset 0px 0px 2px rgba(255,255,255,1);
	box-shadow:
		0px 1px 3px rgba(000,000,000,0.5),
		inset 0px 0px 2px rgba(255,255,255,1);
	text-shadow:
		0px -1px 0px rgba(000,000,000,0.4),
		0px 1px 0px rgba(255,255,255,0.3);
	margin: 10px 0 0 22px;
}

/* from : http://www.paulund.co.uk/ */
.info1,.info2,.message{margin:5px 20px 5px 20px; padding:3px;-webkit-border-radius: 3px;-moz-border-radius: 3px;border-radius: 3px;-moz-box-shadow: 4px 4px #dfe1d8;-webkit-box-shadow: 4px 4px #dfe1d8;box-shadow: 4px 4px #dfe1d8;}

h4 { margin:5px 5px 5px 50px;padding:0; font-size:16px; }
h4 img.edit, h4 img.delete{float:right; padding: 2px 5px 0 5px; cursor:pointer;}
p { font-size:12px; color:#000; margin:5px 5px 5px 50px; }

.info1{border:1px solid #9d9c49;color:#9d9c49;background:#fdfdcb url('images/warning.png') no-repeat; background-position:10px center;}
.info2{border:1px solid #0e7fad;color:#0e7fad;background:#c0e9fa url('images/info.png') no-repeat; background-position:10px center;}
.message{border:1px solid #000;color:#000;background:#efefef url('images/message.png') no-repeat; background-position:10px center;}
